{% extends "base/base.html" %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block content %}
  {{ page.content | safe}}
  <div id="acknowledgements">
    <h1>Acknowledgements</h1>
    This site is built with <a href="https://www.getzola.org/">Zola</a> and contains code from several excellent open source projects. 
    {% for module in config.extra.collect_licenses %}
      {% if "lic_3rd" in module %}
        {% set license = self::load_license(path="3rdparty/" ~ module.lic_3rd) %}
      {% elif "lic_path" in module %}
        {% set license = self::load_license(path=module.path) %}
      {% elif "lic_text" in module %}
        {% set license = module.lic_text %}
      {% endif %}
      <h2><a href="{{module.link}}">{{module.name}}</a></h2>
      <pre>{{license}}</pre>
    {% endfor %}
  </div>
{% endblock content %}


{% macro load_license(path) %}
  {%- set license = load_data(path=path ~ "/LICENSE", format="plain", required=false) -%}
  {%- if license == "" -%}
    {%- set license = load_data(path=path, format="plain", required=true) -%}
  {%- endif -%}
  {{license}}
{% endmacro factorial %}