{% extends "base/base.html" %}

{% block title %}
  {{ page.title }}
{% endblock title %}

{% block main %}
  <article class="post-detail">
    <h1 class="title">{{ page.title }}</h1>
    <div class="date">
      <time datetime="{{ page.date }}">{{ page.date | date(format="%B %d, %Y") }}</time>
    </div>
    <section class="body">{{ page.content | safe }}</section>
    <nav class="tags">
      {% for tag in page.taxonomies["tags"] %}
        <div><a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{tag}}</a></div>
      {% endfor %}
    </nav>
  </article>
{% endblock main %}

